* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: century gothic, sans-serif;
}

header {
    h1 {
        font-size: 2rem;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 10vh;
        font-family: bebas;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 3vh;
        font-family: bebas;
        font-weight: 100;
        text-align: left;
        margin-left: 8vh;
        word-spacing: 31vh;
    }
    min-height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.countdown {
    color: rgb(0, 0, 0);
    font-size: 26vh;
    font-weight: 400;
    font-family: Digital-7;
}